doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
        title Corentec America, Inc.
        // Favicon
        link(rel='apple-touch-icon', sizes='57x57', href='img/apple-touch-icon-57x57.png ')
        link(rel='apple-touch-icon', sizes='60x60', href='img/apple-touch-icon-60x60.png ')
        link(rel='apple-touch-icon', sizes='72x72', href='img/apple-touch-icon-72x72.png ')
        link(rel='apple-touch-icon', sizes='76x76', href='img/apple-touch-icon-76x76.png ')
        link(rel='apple-touch-icon', sizes='114x114', href='img/apple-touch-icon-114x114.png ')
        link(rel='apple-touch-icon', sizes='120x120', href='img/apple-touch-icon-120x120.png ')
        link(rel='apple-touch-icon', sizes='144x144', href='img/apple-touch-icon-144x144.png ')
        link(rel='apple-touch-icon', sizes='152x152', href='img/apple-touch-icon-152x152.png ')
        link(rel='apple-touch-icon', sizes='180x180', href='img/apple-touch-icon-180x180.png ')
        link(rel='icon', type='image/png', href='img/favicon-32x32.png ', sizes='32x32')
        link(rel='icon', type='image/png', href='img/favicon-194x194.png ', sizes='194x194')
        link(rel='icon', type='image/png', href='img/favicon-96x96.png ', sizes='96x96')
        link(rel='icon', type='image/png', href='img/android-chrome-192x192.png ', sizes='192x192')
        link(rel='icon', type='image/png', href='img/favicon-16x16.png ', sizes='16x16')
        link(rel='manifest', href='img/manifest.json ')
        link(rel='mask-icon', href='img/safari-pinned-tab.svg ', color='#fe1109')
        link(rel='shortcut icon', href='img/favicon.ico ')
        meta(name='msapplication-TileColor', content='#191919')
        meta(name='msapplication-TileImage', content=' img/mstile-144x144.png ')
        meta(name='msapplication-config', content=' img/browserconfig.xml ')
        meta(name='theme-color', content='#ffffff')
        // CSS
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='css/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
        link(href='css/style.css', type='text/css', rel='stylesheet', media='screen,projection')
    body
        nav.white(role='navigation')
            .nav-wrapper.container
                a#logo-container.brand-logo(href='#')
                    img(src='img/corenteclogo.png')
                ul.right.hide-on-med-and-down
                    li
                        a.products-link(href='#section-products') Products
                    li
                        a.products-link(href='#section-contact') Contact Us
                    li
                        a(href='http://corentec.com/download.html') Reference Materials
                    li
                        a(href='http://corentec.com/') Corentec Full-Site
                ul#nav-mobile.side-nav
                    li
                        a(href='#section-products') Products
                    li
                        a.products-link(href='#section-contact') Contact Us
                    li
                        a(href='http://corentec.com/download.html') Reference Materials
                    li
                        a(href='http://corentec.com/') Full-Site
                a.button-collapse.red-text.text-darken-1(href='#', data-activates='nav-mobile')
                    i.material-icons menu
        #index-banner.parallax-container
            .section.no-pad-bot
                #header-container.container
                    #header-logo-container.header.center
                        img(src='img/corenteclogo.png')
            .parallax
                img.image-blur(src='img/main2.jpg')
        #modals
            #bencox-modal.modal
                .modal-content
                    .row
                        .col.s12
                            h4
                                | Bencox
                                sup ®
                                | Hip Systems
                    .row
                        .col.s8
                            p.light
                                | Corentec’s Bencox
                                sup &reg
                                | hip
                                | systems provide a full gamut of products.
                                | The Bencox
                                sup &reg
                                | The Bencox
                                sup ®
                                | femoral system from
                                | Corentec is a double-tapered, wedge stem,
                                | system designed to suit the anatomical
                                | structure in the marrow cavity. The section
                                | is rectangular-shaped, which helps to
                                | ensure strong initial press-fit fixation
                                | in the femoral marrow cavity. Designed
                                | with 12/14 specifications , the Corentec
                                | femoral system heads ensures compatibility
                                | with existing ball heads. Bencox
                                sup ®
                                | liners come in both a standard
                                | PE and ceramic variants. Bencox
                                sup ®
                                | heads
                                | come in both metal and ceramic types.
                        .col.s4
                            img.modal-product-image(src='img/bencoxhips.png')
                .modal-footer
                    a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') Close
                    a.modal-action.waves-effect.waves-red.btn-flat(href='http://corentec.com/medical_pro.html#MP_Bencox1') Read More
            #lospa-modal.modal
                .modal-content
                    .row
                        .col.s12
                            h4
                                | Lospa
                                sup ®
                                | Knee System
                    .row
                        .col.s8
                            p.light
                                | Corentec’s Lospa
                                sup &reg
                                | Knee System
                                | for total knee replacement
                                | is available in nine sizes,
                                | each of which consists of
                                | femoral and tibial components.
                                | The femoral component features
                                | a wide radius with a
                                | posterior condyle thickness of
                                | 10 mm, balancing contact stress
                                | with bone conservation. The
                                | size of the anteroposterior
                                | box of the femoral component
                                | is comparable to other
                                | commercially available products.
                                | The single radius design of
                                | the femoral component provides
                                | ligament isometry and muscle
                                | force efficiency. Its deep,
                                | elongated and laterally-angled
                                | patellar groove allows for
                                | optimal patellar tracking. The
                                | tibial component’s 3° posterior
                                | slope helps prevent anterior
                                | cortex impingement. The polyethylene
                                | liner boasts a full peripheral
                                | capture snap-fit locking mechanism.
                        .col.s4
                            img.modal-product-image(src='img/lospaknee.png')
                .modal-footer
                    a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') Close
                    a.modal-action.waves-effect.waves-red.btn-flat(href='http://corentec.com/medical_pro.html#MP_Lospa') Read More
            #lospais-modal.modal
                .modal-content
                    .row
                        .col.s12
                            h4
                                | Lospa
                                sup ®
                                | IS
                                sup ™
                                | Spine System
                    .row
                        .col.s8
                            p.light
                                | The Lospa
                                sup ®
                                | IS
                                sup ™
                                | Spinal Fixation System from Corentec
                                | aspires to closely resemble human anatomy while
                                | both maximizing surgeon convenience and actively
                                | accepting the patient’s demand. Utilizing Lospa’s
                                | “intelligent spine” design, the surgeon can achieve
                                | strong fixation without complications, helping to
                                | prevent the discomfort patients often experience
                                | after undergoing procedures with high-profile
                                | fixation systems.
                        .col.s4
                            img.modal-product-image(src='img/lospaispic.png')
                .modal-footer
                    a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') Close
                    a.modal-action.waves-effect.waves-red.btn-flat(href='http://corentec.com/medical_pro.html#MP_Spinal') Read More
        .container.section-container-dropshadow
            #section-products.section
                .row
                    .col.l12.center
                        h3 Our Products
                #product-family.row
                    .col.s12.m4
                        .icon-block
                            a.waves-effect.waves-light.modal-trigger(href='#bencox-modal')
                                h2.center.black-text.product-family-header
                                    img(src='img/bencox.png')
                            h5.center
                                | Bencox
                                sup ®
                                | Hip Systems
                    .col.s12.m4
                        .icon-block
                            a.waves-effect.waves-light.modal-trigger(href='#lospa-modal')
                                h2.center.black-text.product-family-header
                                    img(src='img/lospa.png')
                            h5.center
                                | Lospa
                                sup ®
                                | Knee System
                    .col.s12.m4
                        .icon-block
                            a.waves-effect.waves-light.modal-trigger(href='#lospais-modal')
                                h2.center.black-text.product-family-header
                                    img(src='img/lospais.png')
                            h5.center
                                | Lospa
                                sup ®
                                | IS
                                sup ™
                                | Spine System
        .parallax-container.valign-wrapper
            .section.no-pad-bot.margin-bottom-5em
                .container
                    .row.center
                        h1.header.center.col.s12.red-text.text-darken-1.bold
                            | Get Moving with
                            | Corentec
                        h5.header.center.col.s12.grey-text.text-darken-3
                            | Restoring function and
                            | quality
                            | of life through
                            | advancements in
                            | Orthopaedics
                    .row.center
                        a.waves-effect.waves-light.btn-large.waves-red.red(href='http://corentec.com/medical_pro.html')
                            | Get
                            | Started
                    // <div class="row center">
                    // <a href="http://materializecss.com/getting-started.html" id="download-button"
                    // class="btn-large waves-effect waves-light red lighten-1">Get Started</a>
                    // </div>
            .parallax
                img.image-blur(src='img/main1.jpg', alt='Unsplashed background img 2')
        .container
            #section-contact.section
                .row
                    .col.s12.center
                        .col.s12.center-align
                            h4 Contact Us
                        .col.s12.l8.offset-l2.center-align
                            h5
                                | Ask us about our products,
                                | business information, or job opportunities.
                        .row.left-align
                            form#contact-form.col.l8.offset-l2.m8.offset-m2.s12.right-alert
                                .row
                                    .input-field.col.s12
                                        input#contact-name.validate(type='text')
                                        label(for='contact-name') Name
                                .row
                                    .input-field.col.s12
                                        input#contact-email.validate(type='email')
                                        label(for='contact-email') Email
                                .row
                                    .input-field.col.s12
                                        textarea#contact-message.validate.materialize-textarea(type='text')
                                        label(for='contact-message') Message
                                .row
                                    .col.s12.right-align
                                        button#contact-submit.btn.waves-effect.waves-light.red(type='button', name='contact-submit')
                                            | Submit
                                            i.material-icons.right send
        #thankyou-modal.modal
            .modal-content
                h4 Thanks!
                p We'll be in touch soon.
            .modal-footer
                a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href='#!') ok
        footer.page-footer.grey.darken-3
            .container
                .row
                    .col.l6.s12
                        h5.white-text Company Bio
                        p.grey-text.text-lighten-4
                            | Corentec was established in order
                            | for the patients to have an
                            | improved quality of life through
                            | the development of advanced medical
                            | devices and surgical techniques.
                            | We are currently being recognized
                            | as the global technological leader.
                            | We, at Corentec, are striving for
                            | success beyond our position as the
                            | leader of artificial joints in both
                            | the United States and Korea.
                    .col.l3.offset-l3.s12
                        h5.white-text Connect
                        ul
                            li
                                a.white-text(href='https://www.linkedin.com/company/corentec')
                                    i.fa.fa-linkedin
                                    | LinkedIn
                            li
                                a.white-text(href='#section-contact')
                                    i.fa.fa-envelope
                                    | Email
                            br
                            br
                            li.white-text
                                p
                                    | 60 Washington Street,
                                    br
                                    | Ste. 202
                                    br
                                    | Morristown, NJ 07960
                                    br
                                    | (p) +1 862 777-8320
                                    br
                                    | (f) +1 862 777-8319
                                // </div>
            .footer-copyright
                .container
                    | Made by
                    a.red-text.text-lighten-3(href='https://www.linkedin.com/in/lucasantarella')
                        | Luca Santarella
        // Scripts
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js')
        script(src='js/materialize.min.js')
        script(src='js/init.js')
        script(type='application/javascript').
            $(document)
                    .ready(function () {
                        // Initialize
                        $('.modal-trigger').leanModal();
                        $('ul.tabs').tabs({active: 0});

                        // Side nav config
                        $('.button-collapse').sideNav({});
                        $('.collapsible').collapsible();
                        $('#contact-form').validate({
                            rules: {
                                'contact-name': {
                                    required: true
                                },
                                'contact-email': {
                                    required: true,
                                    email: true
                                },
                                'contact-message': {
                                    required: true,
                                    minlength: 15
                                }
                            },
                            messages: {
                                'contact-name': {
                                    required: "Name is required!"
                                },
                                'contact-email': {
                                    required: "Email is required!",
                                    email: "Invalid email!"
                                },
                                'contact-message': {
                                    required: "Message is required!",
                                    minlength: "Message must be longer than 15 characters!"
                                }
                            },
                            errorElement: 'div',
                            errorPlacement: function (error, element) {
                                var placement = $(element).data('error');
                                if (placement) {
                                    $(placement).append(error)
                                } else {
                                    error.insertAfter(element);
                                }
                            }

                        });
                    })
                    .on('click', '#contact-submit', function () {
                        // Do post.
                        $('#thankyou-modal').openModal();
                    })
                    // Animate section links
                    .on('click', 'a[href^="#section-"]', function (e) {
                        var id = $(this).attr('href');
                        var $id = $(id);
                        if ($id.length === 0) {
                            return;
                        }
                        e.preventDefault();
                        var pos = $(id).offset().top;
                        $('body, html').animate({scrollTop: pos, easing: 'easeInOutQuint'}, 1500);
                    });
