doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='404 Not Found')
        title 404 Not Found
        // Bootstrap core CSS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        style.
            body {
                padding-top: 20px;
            }
            .jumbotron {
                font-size: 21px;
                font-weight: 200;
                line-height: 2.1428571435;
                color: inherit;
                padding: 10px 0px;
            }
            .jumbotron {
                text-align: center;
                background-color: transparent;
            }
    body
        .container
            .jumbotron
                h1 404 Not Found
                p.lead We couldn't find what you're looking for.
                p.lead
                    a.btn.btn-success(href='/') Go Home
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
